/* reset css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica,Arial,  sans-serif;
}

/* từ ngoiaf vào trong
từ trên xuống dưới
từ tổng quan đến chi tiết
 */
/* 
1. vị trí
2; kích thước
3. màu sẵc
4. kiểu dáng (kiểu chữ, hình dáng)
 */

 .clear {
    clear: both;
 }

 .text-white {
    color: #ccc !important;
 }
#main{

}

#header{
    position: fixed;
    height: 46px;
    background-color: black;
    /* width: 100%; */
    /*  */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;
}
#nav {
}

#nav > li{
    display: inline-block;
}
#nav li {
    
    position: relative;
    
}

#nav > li > a {
    color: white;
    text-transform: uppercase; 
    /* viết hoa heses lên */
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;

}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a, 
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 160PX;
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
    /* font-size: vốn là 16px */
}

#header .search-btn {
    float: right;
    padding: 0 21px;
   }

#header .search-btn:hover {
    background-color: #f44336 ;
    cursor: pointer;
    /* đổi hình dáng con trỏ chuột, cursor không nhất 
    thieesrt phải để gtrong hover bởi để ở đâu, cứ di chuột vào là đổi (mang sẵn tc của hover */

}
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#slider{
    position: relative;
    /* min-height: 500px;
    background-color: rgb(255, 255, 255);
     */
    margin-top: 46px;
    padding-top: 50%;
    /* khi đaqăt là 50% thì chiều cao luôn bằng 50% của chiều rộng, chiều cao đã được tạo ra bởi padding */
    background-color: #b36c6c;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat ;
    /* viết tắt, lần lượt có bgimage, bg position, bg size và bgrepeat */
}
#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 47px;
    
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content{

  }

#content .content-section {
    width: 800px;    
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;

}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list {
    margin-top: 48px;
    overflow: hidden;
}
#content .member-item {
    float: left;
    width: 33.33333%;
    text-align: center;

}

#content .member-name {
    font-size: 15px;
} 

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* tour section */
.tour-section {
    background-color: #000;
}

.ticker-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.ticker-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.ticker-list .sold-out {
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 3px 4px;
}

.ticker-list .quantity {
    float: right; 
    /* the inline khi cos float se dc coi nhu the block */
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}

.places-list {
    padding-bottom: 48px;
    margin: 32px -8px 0;
}

.places-item {
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;

}

.place-heading {
    font-size: 15px;
    font-weight: 600px;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}   

.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}
#footer{

}




.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

}


.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
}
